{% extends "intro.html" %}
{% block forgotPasswordBox %}
<div class="form-box">
    <div class="login-container" id="login">
        <div class="top">
            <header>Forgot Password</header>
            <form method="POST">
                {% csrf_token %}
                <div class="input-box">
                    <input type="email" class="input-field" name="email" placeholder="Email" required>
                    <i class="bx bx-envelope"></i>
                </div>
                <div class="two-col">
                    <label >not found your email, please try again</label>
                </div>
                <div class="input-box">
                    <input type="submit" class="submit" value="reset password">
                </div>
            </form>
        </div>
    </div>
</div>
{%endblock%}